---
import "../styles/global.css";
import { Image } from "astro:assets";

const {
    title,
    buttonText,
    buttonLink,
    imageSrc,
    imageAlt,
    name,
    degree,
    info,
} = Astro.props;
---

<div class="container">
    <h2>{title}</h2>
    <div class="gray-background-container">
        <div class="image-container">
            <Image src={imageSrc} alt={imageAlt} />
        </div>
        <div class="text-container">
            <h3>{name}</h3>
            <p style="margin-top:-20px;">{degree}</p>
            <p>{info}</p>
        </div>
        <a href={buttonLink} target="_blank">
            <button>{buttonText}</button>
        </a>
    </div>
    
</div>

<style>
    .container {
        margin-top: 100px;
    }

    .gray-background-container {
        background-color: #e8e8e8;
        display: flex;
        padding: 30px;
        gap: 50px;
        margin-top: 50px;
        max-width: 100%;
        border-radius:5px;
    }
    
        
    
    h2{
        font-size:50px;
        margin-right:100px;
        
    }

    button {
        margin-top: 70px;
        background-color: #5daad7;
        border: #5daad7;
        color: white;
        padding: 5px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        border-radius:5px;

    }

    button:hover {
        cursor: pointer;
        background-color: #5daad7b7;
    }

    @media (max-width: 768px) {
        .gray-background-container {
            background-color: #ffffff;
            flex-direction: column;
            gap: 0;
            padding: 0;
        }

        button {
            padding: 10px 25px;
            font-size: 14px;
        }
    }
</style>
