---
import "../styles/global.css";
import { Image } from "astro:assets";

const { title, buttonText, buttonLink, imageSrc, imageAlt, reverse, id } =
    Astro.props;
---

<div id={id} class={`content-with-image ${reverse ? "reverse" : ""}`}>
    <div class="text-content">
        <h2>{title}</h2>
        <slot />
        <a href={buttonLink} class="button">
            {buttonText} &rsaquo;
        </a>
    </div>
    <div class="image-content">
        <Image src={imageSrc} alt={imageAlt} />
    </div>
</div>

<style>
    .content-with-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        gap: 10%;
    }

    .content-with-image.reverse {
        flex-direction: row-reverse;
    }

    .text-content {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .image-content {
        width: 50%;
    }

    .image-content img {
        width: 80%;
        height: auto;
    }

    .button {
        margin-top: 20px;
        background-color: none;
        color: black;
        text-decoration: none;
    }

    .button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    p {
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .content-with-image,
        .content-with-image.reverse {
            flex-direction: column-reverse;
        }

        .text-content,
        .image-content {
            width: 100%;
        }

        .image-content img {
            width: 100%;
        }
    }
</style>
